@tabbar-text-active-color: #FF6C00;
@tab-text-active-color: #FF6C00;
@tab-bar-active-color: #FF6C00;
@button-tab-border-color: #FF6C00;
@button-tab-default-border-color: #FF6C00;
@button-tab-active-background-color: #FF6C00;
@button-tab-height: 40px;
@button-tab-line-height: 41px;
@button-tab-border-radius: 20px;